<link rel ="stylesheet" src= "../public/css/bracket.css">
<div class="container">
        <p class = "heading">Your 2018 World Cup Bracket</p>
        <main id="tournament">
<!-- round 1 -->
            <ul class="round round-1">
                <li class="spacer">&nbsp;</li>
                <li class="game game-top">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input round16A" type="checkbox"  value="Urugay">
                        <label class="form-check-label" for="inlineCheckbox1">Urugay</span></label>
                    </div>
                </li>
                <li class="game game-spacer">&nbsp;</li>
                <li class="game game-bottom ">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input round16A" type="checkbox"  value="Portugal">
                        <label class="form-check-label" for="inlineCheckbox1">Portugal</label>
                    </div>
                </li>
        
                <li class="spacer">&nbsp;</li>
                
                <li class="game game-top "> 
                    <div class="form-check form-check-inline">
                        <input class="form-check-input round16C" type="checkbox"  value="France">
                        <label class="form-check-label" for="inlineCheckbox1"> France </label>
                    </div>
                </li>

                <li class="game game-spacer">&nbsp;</li>

                <li class="game game-bottom">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input round16C" type="checkbox"  value="Argentina">
                        <label class="form-check-label" for="inlineCheckbox1">Argentina</label>
                    </div>
                </li>
        
                <li class="spacer">&nbsp;</li>
                
                <li class="game game-top">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input round16E" type="checkbox" value="E1">
                        <label class="form-check-label" for="inlineCheckbox1">E1</label>
                    </div>
                </li>
                <li class="game game-spacer">&nbsp;</li>
                <li class="game game-bottom ">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input round16E" type="checkbox" value="2F">
                        <label class="form-check-label" for="inlineCheckbox1">2F</label>
                    </div>
                </li>
        
                
                <li class="game game-top"> 
                    <div class="form-check form-check-inline">
                        <input class="form-check-input round16G" type="checkbox" value="1G">
                        <label class="form-check-label" for="inlineCheckbox1">1G</label>
                    </div>
                </li>
                <li class="game game-spacer">&nbsp;</li>
                <li class="game game-bottom ">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input round16G" type="checkbox" value="2H">
                        <label class="form-check-label" for="inlineCheckbox1">2H</label>
                    </div>
                </li>
        
                <li class="spacer">&nbsp;</li>
                
                <li class="game game-top">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input round16B" type="checkbox" value="Spain">
                        <label class="form-check-label" for="inlineCheckbox1">Spain</label>
                    </div>
                </li>
                <li class="game game-spacer">&nbsp;</li>
                <li class="game game-bottom ">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input round16B" type="checkbox" value="Russia">
                        <label class="form-check-label" for="inlineCheckbox1">Russia</label>
                    </div>
                </li>
        
                <li class="spacer">&nbsp;</li>
                
                <li class="game game-top">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input round16D" type="checkbox" value="Croatia">
                            <label class="form-check-label" for="inlineCheckbox1">Croatia</label>
                    </div>
                </li>
                <li class="game game-spacer">&nbsp;</li>
                <li class="game game-bottom ">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input round16D" type="checkbox" value="Denmark">
                        <label class="form-check-label" for="inlineCheckbox1">Denmark</label>
                    </div>
                </li>
        
                <li class="spacer">&nbsp;</li>
                
                <li class="game game-top">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input round16F" type="checkbox" value="F1">
                        <label class="form-check-label" for="inlineCheckbox1">F1</label>
                    </div>
                </li>

                <li class="game game-spacer">&nbsp;</li>

                <li class="game game-bottom ">
                    <div class="form-check form-check-inline">
                            <input class="form-check-input round16F" type="checkbox" value="2E">
                            <label class="form-check-label" for="inlineCheckbox1">2E</label>
                    </div>
                </li>
        
                <li class="spacer">&nbsp;</li>
                
                <li class="game game-top">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input round16H" type="checkbox" value="H1">
                        <label class="form-check-label" for="inlineCheckbox1">H1</label>
                    </div>
                </li>
                <li class="game game-spacer">&nbsp;</li>
                <li class="game game-bottom ">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input round16H" type="checkbox" value="2G">
                        <label class="form-check-label" for="inlineCheckbox1">2G</label>
                    </div>
                </li>
        
                <li class="spacer">&nbsp;</li>
            </ul>
<!-- round 2 -->
            <ul class="round round-2">
                <li class="spacer">&nbsp;</li>
                
                <li class="game game-top">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input round2AC1" type="checkbox">
                        <label class="form-check-label" for="inlineCheckbox1"><span id = "selectedA"></span>
                        </label>
                    </div>
                </li>
                <li class="game game-spacer">&nbsp;</li>
                <li class="game game-bottom ">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input round2AC2" type="checkbox">
                        <label class="form-check-label" for="inlineCheckbox1"><span id = "selectedC"></span>
                        </label>
                    </div>
                </li>
        
                <li class="spacer">&nbsp;</li>
                
                <li class="game game-top">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input round2EG1" type="checkbox">
                        <label class="form-check-label" for="inlineCheckbox1"><span id = "selectedE"></span>
                        </label>
                    </div>
                </li>
                <li class="game game-spacer">&nbsp;</li>
                <li class="game game-bottom ">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input round2EG2" type="checkbox">
                        <label class="form-check-label" for="inlineCheckbox1"><span id = "selectedG"></span>
                        </label>
                    </div>
                </li>
        
                <li class="spacer">&nbsp;</li>
                
                <li class="game game-top ">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input round2BD1" type="checkbox">
                            <label class="form-check-label" for="inlineCheckbox1"><span id = "selectedB"></span>
                            </label>
                    </div>
                </li>
                <li class="game game-spacer">&nbsp;</li>
                <li class="game game-bottom">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input round2BD2" type="checkbox">
                        <label class="form-check-label" for="inlineCheckbox1"><span id = "selectedD"></span>
                        </label>
                    </div>
                </li>
        
                <li class="spacer">&nbsp;</li>
                
                <li class="game game-top ">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input round2FH1" type="checkbox">
                        <label class="form-check-label" for="inlineCheckbox1"><span id = "selectedF"></span>
                        </label>
                    </div>
                </li>
                <li class="game game-spacer">&nbsp;</li>
                <li class="game game-bottom">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input round2FH2" type="checkbox">
                        <label class="form-check-label" for="inlineCheckbox1"><span id = "selectedH"></span>
                        </label>
                    </div>
                </li>
        
                <li class="spacer">&nbsp;</li>
            </ul>
<!-- round 3 -->
            <ul class="round round-3">
                <li class="spacer">&nbsp;</li>
                
                <li class="game game-top">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="round3AC">
                        <label class="form-check-label" for="inlineCheckbox1"><span id= "selectedAC"></span>
                        </label>
                    </div>
                </li>
                <li class="game game-spacer">&nbsp;</li>
                <li class="game game-bottom ">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="round3EG">
                        <label class="form-check-label" for="inlineCheckbox1"><span id= "selectedEG"></span>
                        </label>
                    </div>
                </li>
        
                <li class="spacer">&nbsp;</li>
                
                <li class="game game-top">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="round3BD">
                            <label class="form-check-label" for="inlineCheckbox1"><span id= "selectedBD"></span>
                            </label>
                    </div>
                </li>
                <li class="game game-spacer">&nbsp;</li>
                <li class="game game-bottom">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="round3FH">
                            <label class="form-check-label" for="inlineCheckbox1"><span id= "selectedFH"></span>
                            </label>
                    </div>
                </li>
        
                <li class="spacer">&nbsp;</li>
            </ul>
            <ul class="round round-4">
                <li class="spacer">&nbsp;</li>
                
                <li class="game game-top"> 
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="round4ACEG">
                        <label class="form-check-label" for="inlineCheckbox1"><span id= "selectedACEG"></span>
                        </label></div>
                    </li>
                <li class="game game-spacer">&nbsp;</li>
                <li class="game game-bottom ">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="round4BDFH">
                                <label class="form-check-label" for="inlineCheckbox1"><span id= "selectedBDFH"></span>
                                </label>
                    </div>
                </li>
                
                <li class="spacer">&nbsp;</li>
            </ul>       
        </main>
    </div>   
<script src ="../public/js/bracketlogic.js"></script>